<!DOCTYPE html>
<html>
  <head>
    <title>Kali - your personal shift managing assistant</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <link rel="icon"
      type="image/png"
      href="/assets/images/kali-logo-blue.png">

    <link rel="stylesheet" type="text/css" href="/assets/css/kali.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


  </head>

  <body>


    <!-- NAVBAR (bootstrap) -->
    <nav id="nav-bar" class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand kali-logo" href="#">
        <img src="/assets/images/kali-logo-blue.png" alt="" height="40px" width="40px">
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link pull-xs-right about" href="#">About</a>
          <a class="nav-item nav-link pull-xs-right about" href="#">Log Out</a>
        </div>
      </div>
    </nav>

    <!-- Log-in Rectangle -->
    <div class="container-fluid">
      <div class="panelHome">
        <div class="row interHeader">
          <div class="employee-header employee-roster-header col-md-2">
            <div id="roster-header-text" >
              Employee Roster
            </div>
          </div>
          <div class="calHeader col-md-10 employee-roster-header ">
            <div class="row">
              <div id="date-label" class="col-md-9">
                Your Week: <%= weekInterval.startDate %> - <%= weekInterval.endDate %>
              </div>
              <div class="create-shift-button-container col-md-2">
                <button class="btn create-shift-button" data-toggle="modal" data-target="#createShiftModal">
                  Create Shift
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                      <path fill="#FFF" fill-rule="evenodd" d="M6 0l-.861.836L9.703 5.4H0v1.2h9.703l-4.551 4.552L6 12l6-6-6-6"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row week-header-container">

          <div class="employee-header col-md-2" id="employeeCol">
            <div class="names">
              <% for(var i=0; i<employees.length; i++) {%>
                <div>
                  <!-- <img src=<%= employees[i].profilePic %> height="40" width="40"/> -->
                  <%= employees[i].firstName %> <%= employees[i].lastName %>
                </div>
              <% } %>
            </div>
            <a href="#" class="no-u">
              <div class="inviteButton" data-toggle="modal" data-target="#exampleModal">
                  Invite Employees
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                      <path fill="#FFF" fill-rule="evenodd" d="M14 6.3v1.4H7.7V14H6.3V7.7H0V6.3h6.3V0h1.4v6.3z"/>
                  </svg>
              </div>
            </a>
          </div>

          <div class="cal-week-header col-md-10">
            <div class="row calendar-grid" id="calendar-grid">
              <div class="hour-labels">
                <div class="week-header">

                </div>
                <div class="cal-hour-label first-label">
                  12 am
                </div>
                <div class="cal-hour-label">
                  1 am
                </div>
                <div class="cal-hour-label">
                  2 am
                </div>
                <div class="cal-hour-label">
                  3 am
                </div>
                <div class="cal-hour-label">
                  4 am
                </div>
                <div class="cal-hour-label">
                  5 am
                </div>
                <div class="cal-hour-label">
                  6 am
                </div>
                <div class="cal-hour-label">
                  7 am
                </div>
                <div class="cal-hour-label">
                  8 am
                </div>
                <div class="cal-hour-label">
                  9 am
                </div>
                <div class="cal-hour-label">
                  10 am
                </div>
                <div class="cal-hour-label">
                  11 am
                </div>
                <div class="cal-hour-label">
                  12 pm
                </div>
                <div class="cal-hour-label">
                  1 pm
                </div>
                <div class="cal-hour-label">
                  2 pm
                </div>
                <div class="cal-hour-label">
                  3 pm
                </div>
                <div class="cal-hour-label">
                  4 pm
                </div>
                <div class="cal-hour-label">
                  5 pm
                </div>
                <div class="cal-hour-label">
                  6 pm
                </div>
                <div class="cal-hour-label">
                  7 pm
                </div>
                <div class="cal-hour-label">
                  8 pm
                </div>
                <div class="cal-hour-label">
                  9 pm
                </div>
                <div class="cal-hour-label">
                  10 pm
                </div>
                <div class="cal-hour-label">
                  11 pm
                </div>
              </div>

              <% for(var i=0; i< shiftDays.length; i++) {%>
                <div class="week-col">
                  <div class="week-header">
                    <div class="title">
                      <%=  shiftDays[i].day %>
                    </div>
                    <div class="title">
                      <%=  shiftDays[i].date %>
                    </div>
                  </div>

                  <% for(var j=0; j<shiftDays[i].shifts.length; j++) {%>
                    <% if (isNaN(shiftDays[i].shifts[j])) {%>

                      <% if (shiftDays[i].shifts[j].shiftLength < (3 * 3.75)) {%>
                        <div class="shift-container-small <%=  shiftDays[i].shifts[j].isFilled %>" style="height:<%= shiftDays[i].shifts[j].shiftLength %>%;">
                            <div class="shift-container-small-content">
                              <%=  shiftDays[i].shifts[j].role %>: <%=  shiftDays[i].shifts[j].employees.length %> / <%=  shiftDays[i].shifts[j].employeeCount %>
                            </div>
                        </div>
                      <%}else{%>
                        <div class="shift-container <%=  shiftDays[i].shifts[j].isFilled %>" style="height:<%= shiftDays[i].shifts[j].shiftLength %>%;" data-toggle="modal" data-target="#<%= shiftDays[i].shifts[j].id %>">
                          <div class="shift-header-container">
                            <div class="shift-container-role">
                              <%=  shiftDays[i].shifts[j].role %>
                            </div>
                            <div class="shift-container-time">
                              <%=  shiftDays[i].shifts[j].startTime %> - <%=  shiftDays[i].shifts[j].endTime %>
                            </div>
                          </div>
                          <div class="shift-container-count">
                            <%=  shiftDays[i].shifts[j].employees.length %> / <%=  shiftDays[i].shifts[j].employeeCount %>
                          </div>

                          <div class="modal fade" id="<%= shiftDays[i].shifts[j].id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                              <div class="modal-body">
                                <div class="shiftModalHeader">
                                  <%=  shiftDays[i].shifts[j].role %>
                                </div>
                                <div class="shiftModal">
                                  <%=  shiftDays[i].shifts[j].date %>
                                </div>
                                <div class="shiftModal">
                                  <%=  shiftDays[i].shifts[j].startTime %> - <%=  shiftDays[i].shifts[j].endTime %>
                                </div>
                                <div class="shiftModalHeader2">
                                  Employees
                                </div>
                                <% for(var x=0; x<shiftDays[i].shifts[j].employees.length; x++) {%>
                                  <div class="shiftModal">
                                    <%=  shiftDays[i].shifts[j].employees[x].firstName %> <%=  shiftDays[i].shifts[j].employees[x].lastName %>
                                  </div>
                                <% } %>
                                <div class="shiftModal <%=  shiftDays[i].shifts[j].isFilled %>-Text">
                                  <%=  shiftDays[i].shifts[j].employees.length %> / <%=  shiftDays[i].shifts[j].employeeCount %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>


                        </div>
                      <%}%>
                    <% } else {%>
                      <% for(var k=0; k<shiftDays[i].shifts[j]; k++) {%>
                        <div class="calendar-content">

                        </div>
                      <% } %>
                    <% } %>
                  <% } %>

                </div>
              <% } %>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal -->
    <!-- Modal -->
    <!-- Modal -->
    <!-- Modal -->
    <!-- Modal -->
    <div class="modal fade" id="createShiftModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body">
            <div class="row x-out-modal">
              <a href="" data-toggle="modal" data-target="#createShiftModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                    <path fill="#B7B7B7" fill-rule="evenodd" d="M8.585 7.5L15 13.916 13.915 15 7.5 8.584 1.085 15 0 13.916 6.415 7.5 0 1.084 1.085 0 7.5 6.416 13.915 0 15 1.084z"/>
                </svg>
              </a>
            </div>
            <div class="modal-header">Create Shift</div>
            <form action="/createShift" method="post">
              <div class="form-group create-shift-date-form">
                <label for="formGroupExample">Shift Times</label>
                <input type="text" class="form-control form-input" name="daterange" value="<%= datePickerDate %>" />
              </div>
              <div class="form-group create-shift-worker-form">
                <label for="formGroupExampleInput2">Number of Workers Needed for Shift</label>
                <input type="text" class="form-control form-input" id="formGroupExampleInput2" name="workersCount" value="" placeholder="# of workers">
              </div>
              <div class="form-group create-shift-type-form">
                <label for="formGroupExample">Type of Worker Needed</label>
                <select name="workerType" class="form-input-select form-control">
                  <% for(var i=0; i<roles.length; i++) {%>
                    <option value="<%= roles[i]%>"><%= roles[i]%></option>
                  <% } %>
                </select>
              </div>
              <button type="submit" class="btn submit-button">Create</button>
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body">
            <div class="row x-out-modal">
              <a href="" data-toggle="modal" data-target="#exampleModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                    <path fill="#B7B7B7" fill-rule="evenodd" d="M8.585 7.5L15 13.916 13.915 15 7.5 8.584 1.085 15 0 13.916 6.415 7.5 0 1.084 1.085 0 7.5 6.416 13.915 0 15 1.084z"/>
                </svg>
              </a>
            </div>
            <div class="modal-header">Invite Employees</div>

            <form action="/invite" method="post">
              <div id="inviteForm">
                <div class="form-group row" id="email-1">
                  <div class="col-md-9">
                    <label class="form-label2" for="formGroupExampleInput">Email</label>
                    <input type="email" class="form-control form-input" name="email1" value="" placeholder="name@email.com"/>
                  </div>
                  <div class="col-md-2 x-out" onclick="del(1);">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="fake-btn col-md-5 invite-x" id="invite-btn">
                Add Another
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                    <path fill="#4A4A4A" fill-rule="evenodd" d="M1.4 12.6h11.2V1.4H1.4v11.2zM0 14h14V0H0v14zm6.3-6.3H4.2V6.3h2.1V4.2h1.4v2.1h2.1v1.4H7.7v2.1H6.3V7.7z"/>
                </svg>
              </div>
              <button type="submit" class="btn submit-button">Invite</button>
            </form>

          </div>

        </div>
      </div>
    </div>

    <footer class="footer">
      <p class ="all-rights">
        2017 Kali. All Rights Reserved.
      </p>
    </footer>
    <script src="/scripts/inviteForm.js"></script>
    <% if (shiftDays) { %>
       <script>
          shiftDaysData = JSON.parse('<%- JSON.stringify(shiftDays) %>');
       </script>
    <% } %>
    <script type="text/javascript">
    $(function() {
        $('input[name="daterange"]').daterangepicker({
            timePicker: true,
            timePickerIncrement: 15,
            locale: {
                format: 'MM/DD/YYYY h:mm A'
            }
        });
    });
    </script>

  </body>

</html>
